/* This file is for your main application css. */

@import "../node_modules/nprogress/nprogress.css";
@tailwind base;
@tailwind components;
canvas {
    display: block;
    vertical-align: bottom;
}

html {
    scroll-behavior: smooth;
}


/* ---- Header styling ---- */

.headerShadow {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.00) 100%);
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: linear-gradient(120deg, #4d7ece 0%, #243aa5 100%);
}

.filterLogo {
    filter: invert(100%) sepia(24%) saturate(339%) hue-rotate(154deg) brightness(113%) contrast(102%) drop-shadow(1px 1px 2px black);
}

.noFilterLogo {
    filter: none;
}

.blinking {
    -moz-animation: blinking 7s infinite;
    -webkit-animation: blinking 7s infinite;
    -o-animation: blinking 7s infinite;
    animation: blinking 7s infinite;
}

@keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@-moz-keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@-webkit-keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@-o-keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

#lava {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.icon {
    cursor: pointer;
}

.selectionDot,
#menuShadow,
#dimIconGroup>path,
.menuHit {
    pointer-events: none;
}

.menuItem {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@tailwind utilities;

/* LiveView specific classes for your customizations */

.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}

.phx-disconnected * {
    pointer-events: none;
}

.phx-modal {
    opacity: 1!important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Alerts and form errors */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

use {
    -mix-blend-mode: overlay;
}