/* This file is for your main application css. */

@import "../node_modules/nprogress/nprogress.css";
@tailwind base;
@tailwind components;
canvas {
    display: block;
    vertical-align: bottom;
}

html {
    scroll-behavior: smooth;
}


/* ---- Header styling ---- */

.headerShadow {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.00) 100%);
}


/* boxes */

.box {
    cursor: pointer;
    transition: background-color 0.2s linear;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.hover-trigger:hover .hover-target {
    display: block;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 300vh;
    z-index: 10;
    background-image: linear-gradient(0deg, #4d7ece 0%, #243aa5 100%);
}

.filterLogo {
    filter: invert(100%) sepia(24%) saturate(339%) hue-rotate(154deg) brightness(113%) contrast(102%) drop-shadow(1px 1px 2px black);
}

.noFilterLogo {
    filter: none;
}

.blinking {
    -moz-animation: blinking 7s infinite;
    -webkit-animation: blinking 7s infinite;
    -o-animation: blinking 7s infinite;
    animation: blinking 7s infinite;
}

@keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@-moz-keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@-webkit-keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@-o-keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

#lava {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.icon {
    cursor: pointer;
}

.selectionDot,
#menuShadow,
#dimIconGroup>path,
.menuHit {
    pointer-events: none;
}

.menuItem {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* SCALE */

.scaleDown {
    transform: scale(0.6);
}

@tailwind utilities;

/* LiveView specific classes for your customizations */

.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}

.phx-disconnected * {
    pointer-events: none;
}

.phx-modal {
    opacity: 1!important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Alerts and form errors */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

use {
    -mix-blend-mode: overlay;
}

.menu {
    background-color: #000000;
    display: inline-flex;
    border-radius: 0.5rem;
    position: relative;
}

.menu .link {
    display: inline-flex;
    padding: 2rem;
    font-size: 2rem;
    color: gray;
    position: relative;
    z-index: 2;
}

.menu .link .icon {
    stroke: gray;
    height: 42px;
    width: 42px;
}

.menu .link.active .icon {
    stroke: white;
}

.menu .slider {
    position: absolute;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    margin: auto;
    transform-style: preserve-3d;
}

.menu .slider .focus {
    transform-style: preserve-3d;
    transform-origin: top;
    transform: perspective(200px) translateY(1px) rotateX(65deg);
    background-image: linear-gradient( -180deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0) 90%);
}

//
.inspired {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        text-decoration: none;
        background-color: #ff00f0;
        color: #ffffff;
    }
}


/* demo3 */

$b1cd: #500033;
$b1cl: #FF0077;
$b2cd: #000050;
$b2cl: #0033FF;
$b3cd: #00501D;
$b3cl: #00FF44;
$b4cd: #554D00;
$b4cl: #FF4E00;
$b5cd: #300050;
$b5cl: #8000FF;
$black: #000;
$white: #fff;
$grey: #B5B4B4;
@mixin color_render($DC, $LC) {
    background-color: $DC;
    .illustration .inner {
        background-color: $LC;
        &::after,
        &::before {
            background-color: rgba($LC, .4);
        }
    }
    button {
        background-color: $LC;
    }
}

.container3 {
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    @media only screen and (max-width: 1000px) {
        border-radius: 0;
    }
}

.slider3 {
    display: flex;
    width: 500%;
    height: 55rem;
    transition: all .25s ease-in;
    transform: translateX(0);
    @media only screen and (max-width: 1000px) {
        height: 100vh;
    }
    .boxx {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        overflow: hidden;
        position: relative;
        @media only screen and (max-width: 650px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
        .bg {
            padding: 2rem;
            background-color: rgba($black, .2);
            width: 55%;
            transform: skewX(7deg);
            position: absolute;
            height: 100%;
            left: -10%;
            padding-left: 20rem;
            transform-origin: 0 100%;
            @media only screen and (max-width: 800px) {
                width: 65%;
            }
            @media only screen and (max-width: 650px) {
                width: 100%;
                left: 0;
                bottom: 0;
                height: 54%;
                transform: skewX(0deg);
            }
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: inherit;
                pointer-events: none;
                transform: skewX(10deg);
                @media only screen and (max-width: 650px) {
                    width: 120%;
                    bottom: 0;
                    transform: skewX(0deg);
                }
            }
        }
        .details {
            padding: 5rem;
            padding-left: 10rem;
            z-index: 100;
            grid-column: 1 / span 1;
            grid-row: 1 / -1;
            @media only screen and (max-width: 650px) {
                grid-row: 2 / span 1;
                grid-column: 1 / -1;
                text-align: center;
                padding: 2rem;
                transform: translateY(-9rem);
            }
            h1 {
                font-size: 3.5rem;
                font-weight: 500;
                margin-bottom: .5rem;
            }
            p {
                display: inline-block;
                font-size: 1.3rem;
                color: $grey;
                margin-bottom: 2rem;
                margin-right: 5rem;
                @media only screen and (max-width: 800px) {
                    margin-right: 0;
                }
            }
            button {
                padding: 1rem 3rem;
                color: $white;
                border-radius: 2rem;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all .3s ease;
                &:hover {
                    opacity: .8;
                }
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }
    }
    .box1 {
        @include color_render($b1cd, $b1cl)
    }
    .box2 {
        @include color_render($b2cd, $b2cl)
    }
    .box3 {
        @include color_render($b3cd, $b3cl)
    }
    .box4 {
        @include color_render($b4cd, $b4cl)
    }
    .box5 {
        @include color_render($b5cd, $b5cl)
    }
    .illustration {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        justify-self: center;
        @media only screen and (max-width: 650px) {
            grid-row: 1 / span 1;
            grid-column: 1 / -1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div {
            height: 25rem;
            width: 18rem;
            border-radius: 3rem;
            background-color: $b1cl;
            position: relative;
            transform: skewX(-10deg);
            @media only screen and (max-width: 800px) {
                height: 20rem;
                width: 15rem;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 3rem;
                top: 0;
                left: 0;
            }
            &::after {
                transform: translate(4rem, -1rem);
            }
            &::before {
                transform: translate(2rem, -2rem);
            }
        }
    }
}

.prev,
.next,
.trail {
    z-index: 10000;
    position: absolute;
}

.prev,
.next {
    width: 4rem;
    cursor: pointer;
    opacity: .2;
    transition: all .3s ease;
    @media only screen and (max-width: 650px) {
        display: none;
    }
    &:hover {
        opacity: 1;
    }
}

.prev {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.next {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.trail {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
    @media only screen and (max-width: 650px) {
        width: 90%;
    }
    div {
        padding: 2rem;
        border-top: 3px solid #fff;
        cursor: pointer;
        opacity: .3;
        transition: all 0.3s ease;
        &:hover {
            opacity: .6;
        }
        @media only screen and (max-width: 650px) {
            padding: 1rem;
        }
    }
}

.active {
    opacity: 1 !important;
}