#particles-js2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-image: linear-gradient(135deg, #ffffff 0%, #c39cdc26 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko&family=Montserrat&family=Raleway&display=swap');
@font-face {
    font-family: Trench;
    src: url("/fonts/trench.otf")
}

.lato {
    font-family: 'Lato', sans-serif;
}

.teko {
    font-family: 'Teko', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.railway {
    font-family: 'Railway', sans-serif;
}

.trench {
    font-family: Trench
}

.blood-red {
    background-color: #5f0606cc;
}


/* demo 2 */

body {
    overscroll-behavior-y: contain;
}

#masterWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#panelWrap {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
}

.dot {
    color: white;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    margin: 12px;
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(77, 77, 77);
}

@media only screen and (max-width: 767px) {
    .dot {
        width: 9px;
        height: 9px;
    }
}

.dots {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 16px;
}

h1 {
    position: absolute;
    z-index: 100;
    font-size: 18px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}

#downArrow {
    bottom: 12px;
}

#upArrow {
    top: 12px;
}

.arrow {
    position: absolute;
    z-index: 100;
    right: 12px;
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    stroke-width: 8px;
    stroke: #3b3b3b;
    fill: transparent;
}

.toolTips {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: auto;
}

.toolTip {
    opacity: 0;
    text-align: right;
    height: 12px;
    margin: 12px 0;
    line-height: 12px;
    left: 10px;
    top: 10px;
    color: #3b3b3b;
}

h3,
p {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1.5em;
}

p {
    max-width: 400px;
    font-weight: 400;
    text-align: center;
}

.twitterFollow {
    padding: 16px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 500px;
    text-decoration: none;
    border: solid 2px white;
    color: white;
}

.twitterFollow:hover {
    background: white;
    color: #000;
}

.hideMe {
    opacity: 1;
}

.iconWrap {
    width: 300px;
    margin-top: 30px;
}

@media (min-width: 700px) {
    .iconWrap {
        width: 600px;
    }
}

.icon {
    text-align: center;
    width: 150px;
    float: left;
}

.icon svg {
    width: 50px;
    height: 50px;
    margin: 6px 0;
    overflow: visible;
}


/* Front page blinking round buttons */

.blinking {
    -moz-animation: blinking 7s infinite;
    -webkit-animation: blinking 7s infinite;
    -o-animation: blinking 7s infinite;
    animation: blinking 7s infinite;
}

@keyframes blinking {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@-moz-keyframes blinking {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@-webkit-keyframes blinking {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@-o-keyframes blinking {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}


/* boxes */

.box {
    cursor: pointer;
    transition: background-color 0.2s linear;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 3000;
}

@media only screen and (max-width: 1024px) and (max-width: 766px) {
    .box-icon {
        width: 100%;
        height: 100%;
        max-width: 5rem;
        max-height: 5rem;
    }
}

@media only screen and (max-height: 770px) and (max-width: 766px) {
    .box-icon {
        height: 4rem;
        width: 4rem;
        padding: 0px;
    }
}

@media only screen and (max-height: 656px) and (max-width: 766px) {
    .box-icon {
        height: 3rem;
        width: 3rem;
        padding: 0px;
    }
    .box-content {
        padding: 3px;
    }
    .box-title {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .hover-target {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 600px) and (max-width: 766px) {
    .box-content {
        padding: 0;
    }
    .box-title {
        font-size: 0.8rem;
    }
    .hover-target {
        font-size: 0.8rem;
    }
}

@media only screen and (max-height: 542px) and (max-width: 766px) {
    .box-icon {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0px;
    }
}

@media only screen and (max-height: 480px) and (max-width: 766px) {
    .box-icon {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0px;
    }
}

.hover-trigger:hover .hover-target {
    display: block;
}


/* Button */

#featureAnimation {
    height: 262px;
    position: relative;
    max-width: 500px;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#featureBackground {
    position: absolute;
}

.demo_dot {
    position: absolute;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 50;
}

.no_touch_outline {
    -webkit-tap-highlight-color: transparent;
}

.demo_button {
    -webkit-tap-highlight-color: transparent;
    color: #FF3333;
    border: none;
    font-size: 1rem;
    background-color: white;
    z-index: 1;
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 600ms;
    &:before {
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(-60deg, #FF3333 50%, transparent 50%);
        background-size: 250%;
        transition: background-position 600ms;
        transform: rotate(180deg);
        -webkit-tap-highlight-color: transparent;
    }
    &:hover,
    &:focus {
        color: white;
        &:before {
            background-position: 100% 100%;
            transform: rotate(0deg);
        }
    }
}