#featureAnimation {
    height: 500px;
    position: relative;
    width: 100%;
    margin: auto;
}

.dot {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 5px 5px 10px 1px black;
}