/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 300vh;
    z-index: -1;
    background-image: linear-gradient(0deg, #ffffff 0%, #c39cdc26 100%);
}