<main role="main">
  <p class="alert alert-info z-50 absolute right-0 bg-opacity-75 bg-green-400 text-white" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger z-50 absolute right-0 bg-opacity-75 bg-red-400 text-white" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
