<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Synaps IT" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/" <> js_view_path(@live_module) <> ".css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer data-domain="synapsit.se" src="https://stats.synapsit.se/js/index.js"></script>
    <script>
      (function(h, o, t, j, a, r) {
          h.hj = h.hj || function() {
              (h.hj.q = h.hj.q || []).push(arguments)
          };
          h._hjSettings = { hjid: 1995593, hjsv: 6 };
          a = o.getElementsByTagName('head')[0];
          r = o.createElement('script');
          r.async = 1;
          r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
          a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
  </head>
  <body data-js-view-path="<%= js_view_path(@live_module) %>" class="bg-white">
    <header>
    </header>
    <%= @inner_content %>
  </body>
</html>
