<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Synaps IT" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/" <> js_view_path(assigns[:conn], assigns[:live_module] ) <> ".css") %>"/>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-180x180.png") %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= Routes.static_path(@conn, "/images/icons/android-icon-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= Routes.static_path(@conn, "/images/icons/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/icons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/images/icons/manifest.json") %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= Routes.static_path(@conn, "/images/icons/ms-icon-144x144.png") %>">
    <meta name="theme-color" content="#ffffff">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer data-domain="synapsit.se" src="https://stats.synapsit.se/js/index.js"></script>
    <script>
      (function(h, o, t, j, a, r) {
          h.hj = h.hj || function() {
              (h.hj.q = h.hj.q || []).push(arguments)
          };
          h._hjSettings = { hjid: 1995593, hjsv: 6 };
          a = o.getElementsByTagName('head')[0];
          r = o.createElement('script');
          r.async = 1;
          r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
          a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
  </head>
  <body data-js-view-path="<%= js_view_path(assigns[:conn], assigns[:live_module]) %>" class="bg-white">
    <header>
    </header>
    <%= @inner_content %>
  </body>
</html>
